<div class="footer">
  <div class=" container flex-center">
    <p class="margin-0"><span class="theme-color bold">SwapSteem</span><span class="medium">- Swap Steem / SBD for Fiat and Crypto near Instantly!</span>
    <span class="flex-center">
      <a style="padding-right: 18px;"  routerLink="insta">Insta Swap</a>
      <a style="padding-right: 18px;"  routerLink="market/fiat">Fiat Market</a>
      <a style="padding-right: 18px;"  routerLink="post-trade">Create New Listing</a>
      <a style="padding-right: 18px;"  routerLink="help">Help</a>
      <a style="padding-right: 18px;"  href="https://swapsteem.tokenbb.io" target="_blank">Forum</a>
    </span>
  </div>
</div>
