<div class="footer">
  <div class=" container flex-center">
    <p class="margin-0"><span class="theme-color bold">SwapSteem</span><span class="medium">- Easy swap Steem / SBD for flat</span> <span>- ©2018 all right reserved</span></p>
    <span class="flex-center">
      <a style="padding-right: 18px;" routerLink="buy-online">buy</a>
      <a style="padding-right: 18px;" routerLink="sell-online">Sell</a>
      <a style="padding-right: 18px;" routerLink="post-trade">Post a trade</a>
      <a style="padding-right: 18px;" routerLink="help">Help</a>
    </span>
  </div>
</div>