.box{
    border: 1px;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px #888888;
    margin-top: 20px;
    background-color: white;
}

.inner-box{
    border: 1px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px 0px;
    margin: 10px;
    background-color: white;
}

.inner-box-right{
    border: 1px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px 0px;
    margin: 10px;
    background-color: white;
    margin-right: 20px;
}

.full-width {
    width: 100% !important;
}

.relative {
    position: relative;
}

.steem-error-text {
    color: red;
    font-size: 12px;
    position: absolute;
    text-align: right;
    width: 100%;
    bottom: -17px;
    right: 0;
}