<div class="container box">
    <div>
        <h3>Buy SwapSteem using Imps Bank Transfer in INR.</h3>
        <p>SwapSteem.com user {{selectedTrade.seller}} wishes to sell steem to you</p>
    </div>
    <hr>
    <div class="row">
        <div class="col">
           <div class="inner-box">
                <table class="table">
                    <tr>
                        <th >Price :</th>
                        <td>122345</td>
                    </tr>
                    <tr>
                        <th>Payment Methods :</th>
                        <td>{{selectedTrade.Paymentmethod}}</td>
                    </tr>
                    <tr>
                        <th>User :</th>
                        <td>{{selectedTrade.seller}}</td>
                    </tr>
                    <tr>
                        <th>Trade limits :</th>
                        <td>{{selectedTrade.limit}}</td>
                    </tr>
                    <tr>
                        <th>Locations :</th>
                        <td>India</td>
                    </tr>
                    <tr>
                        <th>Payment window :</th>
                        <td>1 hors 30 minutes</td>
                    </tr>
                </table>
            </div>
            <div class="inner-box">
                How Much You want
            </div>
        </div>
        <div class="col inner-box-right">
            <div>
                Terms
            </div>
            <div>
                Timimngs
            </div>
        </div>
    </div>
</div>