.box{
    border: 1px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px 0px;;;
    margin-top: 20px;
    background-color: white;
    height: calc(100vh - 50px);
}

.full-width {
    width: 100% !important;
}

.button {
    background-color: #28a745 !important;
}
.margin-auto{
    margin: auto!important;
}

/* .buttonLocation{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 21px;
} */
.postTradeWrapper{
display: flex;
align-items: center;
height: calc(100% - 210px);
}
@media (max-width: 900px) {
    .buttonLocation{
        max-width: 200px!important;
    }
    .postTradeWrapper{
        height: auto;
    }
  }