.box{
    border: 1px;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px #888888;
    margin-top: 20px;
    background-color: white;
}

.full-width {
    width: 100% !important;
}

.button {
    background-color: #28a745 !important;
}

/* .buttonLocation{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 21px;
} */