<div class="wrapper container">
  <form #buySweetForm="ngForm" (ngSubmit)="submitForm(buySweetForm.value)">
    <mat-dialog-content>
      <div class="heading">
        <h2 mat-dialog-title>Buy SWEET now and get 25% Bonus</h2>
      </div>
      <div class="steemAmount">
        <mat-form-field class="steemAmount-input-field">
          <mat-icon matPrefix>Amount</mat-icon>
          <input
            matInput
            name="amount"
            type="number"
            min="0"
            step="any"
            placeholder="Steem Amount"
            required
            ngModel
            autocomplete="off"
          />
          <mat-error *ngIf="buySweetForm.touched && buySweetForm.invalid"
            >Steem Amount is required</mat-error
          >
        </mat-form-field>
      </div>
      <div *ngIf="buySweetForm.value.amount">
        You will get
        <strong>{{ buySweetForm.value.amount * conversionRate }}</strong> SWEET
        amount
      </div>
      <div class="submit">
        <button
          class="submit-button"
          color="primary"
          mat-raised-button
          type="submit"
          [disabled]="buySweetForm.invalid"
        >
          Buy With Steemconnect
        </button>
      </div>
    </mat-dialog-content>
  </form>
</div>
