<div>
  <h6 class="buyHeading">Sell Steem/SBD In USA</h6>
  <div *ngIf="emptyBuy" class="no-data">
    <p>No Data! Go play Around to see something here</p>
    <!-- <a style="padding-right: 18px;" routerLink="/post-trade">Post a trade</a> -->
  </div>
  <div class="table-padding">
    <table class="table table-striped" *ngIf="emptySell === false">
      <tr>
        <th class="">Seller</th>
        <th class="">Payment</th>
        <th class="">Coin</th>
        <th class="">Fiat</th>
        <th class="">Limits</th>
        <th class="">Price/Coin</th>
        <th></th>
      </tr>
      <tr *ngFor="let sellSteem of sellDetails | async  | tradePipe: 'ad_status' : 'pause' | paginate: { itemsPerPage: 5, currentPage: q }">
        <td *ngIf="showElement(sellSteem)">{{sellSteem.createdby}}</td>
        <td *ngIf="showElement(sellSteem)">{{sellSteem.payment_methods}}</td>
        <td *ngIf="showElement(sellSteem)">{{sellSteem.ad_coin}}</td>
        <td *ngIf="showElement(sellSteem)">{{sellSteem.currency}}</td>
        <td *ngIf="showElement(sellSteem)">{{sellSteem.limit_from}} - {{sellSteem.limit_to}}</td>
        <td *ngIf="showElement(sellSteem)">
          <span>{{calculatePrice(sellSteem.ad_coin,sellSteem.currency, sellSteem.margin)}}</span>
        </td>
        <td *ngIf="showElement(sellSteem)">
          <button type="button" class="btn btn-danger btn-sm badge badge-pill" (click)="sellTrade(sellSteem)">SELL</button>
        </td>
      </tr>
    </table>
    <pagination-controls (pageChange)="q = $event" class="page-controls"></pagination-controls>
  </div>
</div>