<div class="container">
  <div class="box">
    <div class="progress">

      <mat-progress-bar mode="determinate" [value]="progressBarStatus"></mat-progress-bar>
    </div>
  </div>
  <div class="row">
    <div class="inner-box col">
      <h6>ORDER DETAILS</h6>
      <hr>
      <div>
        <div class="row">
          <div class="col">
            <h6>AMOUNT</h6>
            <p>{{selectedOrder.order_coin_amount}}</p>
          </div>
          <div class="col">
            <h6>FIAT AMOUNT</h6>
            <p>{{selectedOrder.order_fiat_amount}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h6>PAYMENT METHODS</h6>
            <p>{{selectedAd.payment_methods[0]}}</p>
          </div>
          <div class="col">
            <h6>ESCROW ID</h6>
            <p>{{selectedOrder.escrowID}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h6>TERMS</h6>
            <p>{{selectedAd.terms}}</p>
          </div>
        </div>
      </div>
      <h6>PAYMENT DETAILS</h6>
      <hr>
      <div>
        <div class="row">
          <div class="col">
            <h6>ACCOUNT HOLDER NAME</h6>
            <p>{{payment_details.account_holder_name}}</p>
          </div>
          <div class="col">
            <h6>ACCOUNT NUMBER</h6>
            <p>{{payment_details.account_number}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h6>BANK NAME</h6>
            <p>{{payment_details.bank_name}}</p>
          </div>
          <div class="col">
            <h6>SWIFT/BIC code</h6>
            <p>{{payment_details.swift_bic_code}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h6>BANK ADDRESS</h6>
            <p>{{payment_details.bank_code}}</p>
          </div>
          <div class="col">
            <h6 for="bank_code" *ngIf="selectedAd.currency === 'USD'">ABA Number</h6>
            <h6 for="bank_code" *ngIf="selectedAd.currency === 'INR'">IFSC Code</h6>
            <p>{{payment_details.swift_bic_code}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="inner-box col">
      <h6>Order Status</h6>
      <hr>
      <div>
        <div class="row">
          <div class="col">
            <div [ngSwitch]="userData._id">
              <div *ngSwitchCase="sender">
                <div [ngSwitch]="selectedOrder.order_status">
                  <div *ngSwitchCase="'created'" class="d-flex flex-column align-items-center">
                    <div class="w-75 text-center">
                      <p>
                        Do you want to transfer escrow?
                      </p>
                      <countdown #transfercountdown [config]="{ stopTime: rDeadline }" (finished)="onFinished(transfercountdown)">
                        <div class="countdown">
                          <!-- <div id="tiles"><span>$!d!</span><span>$!h!</span><span>$!m!</span><span>$!s!</span></div> -->
                          <div class="countdown-section">
                            <div class="tiles">
                              $!d!
                            </div>
                            <div class="countdown-label">
                              Days
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!h!
                            </div>
                            <div class="countdown-label">
                              Hours
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!m!
                            </div>
                            <div class="countdown-label">
                              Mins
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!s!
                            </div>
                            <div class="countdown-label">
                              Secs
                            </div>
                          </div>
                          <!-- <div class="labels">
                            <li>Days</li>
                            <li>Hours</li>
                            <li>Mins</li>
                            <li>Secs</li>
                          </div> -->
                        </div>
                      </countdown>
                      <div class="d-flex flex-row align-items-center w-100 justify-content-between">
                        <button type="button" class="btn btn-success" (click)="transferEscrow();">
                          Transfer escrow
                        </button>
                        <button type="button" class="btn btn-danger" (click)="updateOrderStatus('canceled');">
                          Cancel order
                        </button>
                      </div>
                    </div>

                  </div>
                  <div *ngSwitchCase="'escrow_transfer'" class="d-flex flex-column align-items-center">
                    <div>
                      <p>
                        Please wait for buyer to approve your escrow ...
                      </p>
                      <countdown #transfercountdown [config]="{ stopTime: rDeadline }" (finished)="onFinished(transfercountdown)">
                        <div class="countdown">
                          <!-- <div id="tiles"><span>$!d!</span><span>$!h!</span><span>$!m!</span><span>$!s!</span></div> -->
                          <div class="countdown-section">
                            <div class="tiles">
                              $!d!
                            </div>
                            <div class="countdown-label">
                              Days
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!h!
                            </div>
                            <div class="countdown-label">
                              Hours
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!m!
                            </div>
                            <div class="countdown-label">
                              Mins
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!s!
                            </div>
                            <div class="countdown-label">
                              Secs
                            </div>
                          </div>
                          <!-- <div class="labels">
                            <li>Days</li>
                            <li>Hours</li>
                            <li>Mins</li>
                            <li>Secs</li>
                          </div> -->
                        </div>
                      </countdown>
                    </div>
                    <div>
                      <button type="button" class="btn btn-danger" (click)="updateOrderStatus('canceled');">
                        Cancel order
                      </button>
                    </div>
                  </div>
                  <div *ngSwitchCase="'escrow_approve'" class="d-flex flex-column align-items-center">
                    <div>
                      <p>
                        Please wait for agent to approve escrow...
                      </p>
                      <countdown #transfercountdown [config]="{ stopTime: rDeadline }" (finished)="onFinished(transfercountdown)">
                        <div class="countdown">
                          <!-- <div id="tiles"><span>$!d!</span><span>$!h!</span><span>$!m!</span><span>$!s!</span></div> -->
                          <div class="countdown-section">
                            <div class="tiles">
                              $!d!
                            </div>
                            <div class="countdown-label">
                              Days
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!h!
                            </div>
                            <div class="countdown-label">
                              Hours
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!m!
                            </div>
                            <div class="countdown-label">
                              Mins
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!s!
                            </div>
                            <div class="countdown-label">
                              Secs
                            </div>
                          </div>
                          <!-- <div class="labels">
                            <li>Days</li>
                            <li>Hours</li>
                            <li>Mins</li>
                            <li>Secs</li>
                          </div> -->
                        </div>
                      </countdown>
                    </div>

                  </div>
                  <div *ngSwitchCase="'agent_escrow_approved'" class="d-flex flex-column align-items-center">
                    <div>
                      <p>
                        Please wait for buyer to done payment of your escrow ...
                      </p>
                      <countdown #relesecountdown [config]="{ stopTime: eDeadline }" (finished)="onFinished(relesecountdown)">
                        <div class="countdown">
                          <!-- <div id="tiles"><span>$!d!</span><span>$!h!</span><span>$!m!</span><span>$!s!</span></div> -->
                          <div class="countdown-section">
                            <div class="tiles">
                              $!d!
                            </div>
                            <div class="countdown-label">
                              Days
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!h!
                            </div>
                            <div class="countdown-label">
                              Hours
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!m!
                            </div>
                            <div class="countdown-label">
                              Mins
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!s!
                            </div>
                            <div class="countdown-label">
                              Secs
                            </div>
                          </div>
                          <!-- <div class="labels">
                            <li>Days</li>
                            <li>Hours</li>
                            <li>Mins</li>
                            <li>Secs</li>
                          </div> -->
                        </div>
                      </countdown>
                    </div>
                    <div>
                      <button type="button" class="btn btn-danger" (click)="raiseDispute('seller');">
                        Raise a dispute
                      </button>
                    </div>
                  </div>
                  <div *ngSwitchCase="'buyer_escrow_dispute'" class="d-flex flex-column align-items-center">
                    <div>
                      <p>
                        Buyer raise dispute. Please wait for agent interaction and decision...
                      </p>
                    </div>
                  </div>
                  <div *ngSwitchCase="'seller_escrow_dispute'" class="d-flex flex-column align-items-center">
                    <div>
                      <p>
                        Seller raise dispute. Please wait for agent interaction and decision...
                      </p>
                    </div>
                  </div>
                  <div *ngSwitchCase="'buyer_payment_done'" class="d-flex flex-column align-items-center">
                    <div class="w-75 text-center">
                      <p>
                        Do you want to release escrow?
                      </p>
                      <countdown #relesecountdown [config]="{ stopTime: eDeadline }" (finished)="onFinished(relesecountdown)">
                        <div class="countdown">
                          <!-- <div id="tiles"><span>$!d!</span><span>$!h!</span><span>$!m!</span><span>$!s!</span></div> -->
                          <div class="countdown-section">
                            <div class="tiles">
                              $!d!
                            </div>
                            <div class="countdown-label">
                              Days
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!h!
                            </div>
                            <div class="countdown-label">
                              Hours
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!m!
                            </div>
                            <div class="countdown-label">
                              Mins
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!s!
                            </div>
                            <div class="countdown-label">
                              Secs
                            </div>
                          </div>
                          <!-- <div class="labels">
                            <li>Days</li>
                            <li>Hours</li>
                            <li>Mins</li>
                            <li>Secs</li>
                          </div> -->
                        </div>
                      </countdown>
                      <div class="d-flex flex-row align-items-center w-100 justify-content-between">
                        <button type="button" class="btn btn-success" (click)="releaseEscrow();">
                          Release escrow
                        </button>
                        <button type="button" class="btn btn-danger" (click)="raiseDispute('seller');">
                          Raise a dispute
                        </button>
                      </div>
                    </div>
                  </div>
                  <div *ngSwitchCase="'escrow_release'" class="d-flex flex-column align-items-center">
                    <div class="w-75 text-center">
                      <p>
                        You successfully release escrow and you recived your payment.
                      </p>
                    </div>
                  </div>
                  <div *ngSwitchCase="'escrow_reject'" class="d-flex flex-column align-items-center">
                    <p>
                      This order has been rejected.
                    </p>
                  </div>
                  <div *ngSwitchCase="'order_complete'" class="d-flex flex-column align-items-center">
                    <div>
                      <p>
                        This order has been completed.
                      </p>
                    </div>
                  </div>
                  <div *ngSwitchCase="'canceled'" class="d-flex flex-column align-items-center">
                    <p>
                      This order has been canceled.
                    </p>
                  </div>

                </div>

              </div>
              <div *ngSwitchCase="reciever">
                <div [ngSwitch]="selectedOrder.order_status">
                  <div *ngSwitchCase="'created'" class="d-flex flex-column align-items-center">
                    <div>
                      <p>
                        Please wait for seller to transfer your escrow...
                      </p>
                      <countdown #transfercountdown [config]="{ stopTime: rDeadline }" (finished)="onFinished(transfercountdown)">
                        <div class="countdown">
                          <!-- <div id="tiles"><span>$!d!</span><span>$!h!</span><span>$!m!</span><span>$!s!</span></div> -->
                          <div class="countdown-section">
                            <div class="tiles">
                              $!d!
                            </div>
                            <div class="countdown-label">
                              Days
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!h!
                            </div>
                            <div class="countdown-label">
                              Hours
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!m!
                            </div>
                            <div class="countdown-label">
                              Mins
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!s!
                            </div>
                            <div class="countdown-label">
                              Secs
                            </div>
                          </div>
                          <!-- <div class="labels">
                              <li>Days</li>
                              <li>Hours</li>
                              <li>Mins</li>
                              <li>Secs</li>
                            </div> -->
                        </div>
                      </countdown>
                    </div>
                    <div>
                      <button type="button" class="btn btn-danger" (click)="updateOrderStatus('canceled');">
                        Cancel order
                      </button>
                    </div>
                  </div>
                  <div *ngSwitchCase="'escrow_transfer'" class="d-flex flex-column align-items-center">
                    <div>
                      <p>
                        Do you want to approve transfer escrow?
                      </p>
                      <countdown #transfercountdown [config]="{ stopTime: rDeadline }" (finished)="onFinished(transfercountdown)">
                        <div class="countdown">
                          <!-- <div id="tiles"><span>$!d!</span><span>$!h!</span><span>$!m!</span><span>$!s!</span></div> -->
                          <div class="countdown-section">
                            <div class="tiles">
                              $!d!
                            </div>
                            <div class="countdown-label">
                              Days
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!h!
                            </div>
                            <div class="countdown-label">
                              Hours
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!m!
                            </div>
                            <div class="countdown-label">
                              Mins
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!s!
                            </div>
                            <div class="countdown-label">
                              Secs
                            </div>
                          </div>
                          <!-- <div class="labels">
                            <li>Days</li>
                            <li>Hours</li>
                            <li>Mins</li>
                            <li>Secs</li>
                          </div> -->
                        </div>
                      </countdown>
                      <div class="d-flex flex-row align-items-center w-100 justify-content-between">
                        <button type="button" class="btn btn-success" (click)="approveRejectEscrow(1);">
                          Approve escrow
                        </button>
                        <button type="button" class="btn btn-danger" (click)="approveRejectEscrow(0);">
                          Reject escrow
                        </button>
                      </div>
                    </div>

                  </div>
                  <div *ngSwitchCase="'escrow_approve'" class="d-flex flex-column align-items-center">
                    <div>
                      <p>
                        Please wait for agent to approve escrow...
                      </p>
                      <countdown #transfercountdown [config]="{ stopTime: rDeadline }" (finished)="onFinished(transfercountdown)">
                        <div class="countdown">
                          <!-- <div id="tiles"><span>$!d!</span><span>$!h!</span><span>$!m!</span><span>$!s!</span></div> -->
                          <div class="countdown-section">
                            <div class="tiles">
                              $!d!
                            </div>
                            <div class="countdown-label">
                              Days
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!h!
                            </div>
                            <div class="countdown-label">
                              Hours
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!m!
                            </div>
                            <div class="countdown-label">
                              Mins
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!s!
                            </div>
                            <div class="countdown-label">
                              Secs
                            </div>
                          </div>
                          <!-- <div class="labels">
                            <li>Days</li>
                            <li>Hours</li>
                            <li>Mins</li>
                            <li>Secs</li>
                          </div> -->
                        </div>
                      </countdown>
                    </div>

                  </div>
                  <div *ngSwitchCase="'agent_escrow_approved'" class="d-flex flex-column align-items-center">
                    <div>
                      <p>
                        Do you want to confirm your payment of escrow?
                      </p>
                      <countdown #relesecountdown [config]="{ stopTime: eDeadline }" (finished)="onFinished(relesecountdown)">
                        <div class="countdown">
                          <!-- <div id="tiles"><span>$!d!</span><span>$!h!</span><span>$!m!</span><span>$!s!</span></div> -->
                          <div class="countdown-section">
                            <div class="tiles">
                              $!d!
                            </div>
                            <div class="countdown-label">
                              Days
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!h!
                            </div>
                            <div class="countdown-label">
                              Hours
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!m!
                            </div>
                            <div class="countdown-label">
                              Mins
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!s!
                            </div>
                            <div class="countdown-label">
                              Secs
                            </div>
                          </div>
                          <!-- <div class="labels">
                            <li>Days</li>
                            <li>Hours</li>
                            <li>Mins</li>
                            <li>Secs</li>
                          </div> -->
                        </div>
                      </countdown>

                      <div class="d-flex flex-row align-items-center w-100 justify-content-between">
                        <button type="button" class="btn btn-success" (click)="updateOrderStatus('buyer_payment_done');">
                          Confirm Payment
                        </button>
                        <button type="button" class="btn btn-danger" (click)="updateOrderStatus('canceled');">
                          Cancel Order
                        </button>
                      </div>
                    </div>

                  </div>
                  <div *ngSwitchCase="'escrow_reject'" class="d-flex flex-column align-items-center">
                    <p>
                      This order has been rejected.
                    </p>
                  </div>
                  <div *ngSwitchCase="'buyer_payment_done'" class="d-flex flex-column align-items-center">
                    <div>
                      <p>
                        Please wait for seller to release escrow...
                      </p>
                      <countdown #relesecountdown [config]="{ stopTime: eDeadline }" (finished)="onFinished(relesecountdown)">
                        <div class="countdown">
                          <!-- <div id="tiles"><span>$!d!</span><span>$!h!</span><span>$!m!</span><span>$!s!</span></div> -->
                          <div class="countdown-section">
                            <div class="tiles">
                              $!d!
                            </div>
                            <div class="countdown-label">
                              Days
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!h!
                            </div>
                            <div class="countdown-label">
                              Hours
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!m!
                            </div>
                            <div class="countdown-label">
                              Mins
                            </div>
                          </div>
                          <div class="countdown-section">
                            <div class="tiles">
                              $!s!
                            </div>
                            <div class="countdown-label">
                              Secs
                            </div>
                          </div>
                          <!-- <div class="labels">
                            <li>Days</li>
                            <li>Hours</li>
                            <li>Mins</li>
                            <li>Secs</li>
                          </div> -->
                        </div>
                      </countdown>
                    </div>
                    <div>
                      <button type="button" class="btn btn-danger" (click)="raiseDispute('buyer');">
                        Raise a dispute
                      </button>
                    </div>
                  </div>
                  <div *ngSwitchCase="'escrow_release'" class="d-flex flex-column align-items-center">
                    <div class="w-75 text-center">
                      <p>
                        You successfully get escrow and you done your payment.
                      </p>
                    </div>
                  </div>
                  <div *ngSwitchCase="'buyer_escrow_dispute'" class="d-flex flex-column align-items-center">
                    <div>
                      <p>
                        Buyer raise dispute. Please wait for agent interaction and decision...
                      </p>
                    </div>
                  </div>
                  <div *ngSwitchCase="'seller_escrow_dispute'" class="d-flex flex-column align-items-center">
                    <div>
                      <p>
                        Seller raise dispute. Please wait for agent interaction and decision...
                      </p>
                    </div>
                  </div>
                  <div *ngSwitchCase="'order_complete'" class="d-flex flex-column align-items-center">
                    <div>
                      <p>
                        This order has been completed.
                      </p>
                    </div>
                  </div>
                  <div *ngSwitchCase="'canceled'" class="d-flex flex-column align-items-center">
                    <p>
                      This order has been canceled.
                    </p>
                  </div>
                </div>

              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>