<div class="searchBox container">
  <ul class="nav nav-tabs ul-padding">
    <li class="nav-item col-3">
      <a href="#buy" routerLink="/buy-online" data-toggle="tab" class="nav-link">Buy</a>
    </li>
    <li class="nav-item col-3">
      <a href="#sell" routerLink="/sell-online" data-toggle="tab" class="nav-link">Sell</a>
    </li>
  </ul>
  <div class="tab-content clearfix">
    <div class="tab-pane active" id="buy">
        <form>
          <table class="table">
            <tr>
              <th>Amuount</th>
              <th>Payment Currenct</th>
              <th>Location</th>
              <th>Payment Methods</th>
              <th></th>
            </tr>
            <tr>
              <td>
                <select name="" id="" class="form-control"></select>
              </td>
              <td>
                <select name="" id="" class="form-control"></select>
              </td>
              <td>
                <select name="" id="" class="form-control"></select>
              </td>
              <td>
                <select name="" id="" class="form-control"></select>
              </td>
              <td>
                <button class="btn badge-pill badge-success">Search</button>
              </td>
            </tr>
          </table>
        </form>
  </div>
</div>
</div>
