.searchBox{
    border: 1px;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px #888888;
}

.searchBtn{
    margin-top: 30px;
}

.table td, .table th {
    vertical-align: middle !important;
}

.mat-chip {
    background-color: #28a745 !important;
}