<div class="searchBox container">
  <div>
    <form>
      <table class="table">
        <tr>
          <th>Type</th>
          <th>From</th>
          <th>to</th>
          <th></th>
        </tr>
        <tr>
          <td>
            <select class="form-control" id="ad_type" [(ngModel)]="ad_type" name="ad_type" required>
              <option *ngFor="let count of ad_type_options">{{count}}</option>
            </select>
          </td>
          <td>
            <select class="form-control" id="ad_coin" name="ad_coin" required [(ngModel)]="ad_coin">
              <option *ngFor="let count of ad_coin_options">{{count}}</option>
            </select>
          </td>
          <td>
            <select class="form-control" id="Currency" [(ngModel)]="currency" name="currency" required>
              <option *ngFor="let count of currency_options">{{count}}</option>
            </select>
          </td>
          <td>
            <button type="submit" class="btn badge-pill badge-success" (click)="searchResult(ad_type,ad_coin,currency,payment_methods)">Search For Trades</button>
          </td>
        </tr>
      </table>
    </form>
    <!-- <form>
      <div class="form-row">
        <div class="col mb-3">
          <label for="">Amount</label>
          <select name="" id="" class="form-control"></select>
        </div>
        <div class="col mb-3">
          <label for="">Payment Currenct</label>
          <select name="" id="" class="form-control"></select>
        </div>
        <div class="col mb-3">
          <label for="">Location</label>
          <select name="" id="" class="form-control"></select>
        </div>
        <div class="col mb-3">
          <label for="">Payment Method</label>
          <select name="" id="" class="form-control"></select>
        </div>
        <div class="searchBtn col">
          <button class="btn badge-pill badge-success">Search Options</button>
        </div>
      </div>
    </form> -->
  </div>
</div>