<div class="searchBox container">
  <div>
    <form>
      <table class="table">
        <tr>
          <th>Type</th>
          <th>From</th>
          <th>to</th>
          <th></th>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-select [(ngModel)]="ad_type" name="ad_type">
                <mat-option *ngFor="let count of ad_type_options" [value]="count">
                  {{count}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-select [(ngModel)]="ad_coin" name="ad_coin">
                <mat-option [value]="''">
                  Select
                </mat-option>
                <mat-option *ngFor="let count of ad_coin_options" [value]="count">
                  {{count}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-select [(ngModel)]="currency" name="currency">
                <mat-option [value]="''">
                  Select
                </mat-option>
                <mat-option *ngFor="let count of currency_options" [value]="count">
                  {{count}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-chip-list>
              <mat-chip color="primary" (click)="searchResult(ad_type,ad_coin,currency,payment_methods)" selected>Search
                For Trades</mat-chip>
            </mat-chip-list>
          </td>
        </tr>
      </table>
    </form>
    <!-- <form>
      <div class="form-row">
        <div class="col mb-3">
          <label for="">Amount</label>
          <select name="" id="" class="form-control"></select>
        </div>
        <div class="col mb-3">
          <label for="">Payment Currenct</label>
          <select name="" id="" class="form-control"></select>
        </div>
        <div class="col mb-3">
          <label for="">Location</label>
          <select name="" id="" class="form-control"></select>
        </div>
        <div class="col mb-3">
          <label for="">Payment Method</label>
          <select name="" id="" class="form-control"></select>
        </div>
        <div class="searchBtn col">
          <button class="btn badge-pill badge-success">Search Options</button>
        </div>
      </div>
    </form> -->
  </div>
</div>