.searchBox{
    border: 1px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px 0px;
}

.searchBtn{
    margin-top: 30px;
}

.table td, .table th {
    vertical-align: middle !important;
}

.mat-chip {
    background-color: #28a745 !important;
}