<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2> How to post Trade </h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h4>Tutorial on How to Post a Trade</h4>
    <br>
    <p class="help-paragraph"> Welcome to SwapSteem and thank you for entrusting our service to facilitate your trades.</p>
    <br>
    <br>
    <p class="help-paragraph">Here’s a friendly reminder before proceeding to the tutorial. By using our service, you explicitly agree to our ToS.
      Please consider visiting the page if you are unsure with any terms or limitations.</p>
    <hr>
    <p class="help-paragraph">1. To get started, you would have to first login to our platform via steemconnect. The login button is conveniently placed
      at the uppermost right corner of the user preface at our
      <a [routerLink]="['/home']">
        Home page
      </a>. You will be able to see our landing home page as below screenshot.</p>
    <br>
    <img class="margin-auto" src="https://i.imgur.com/SO8vAgx.png">
    <br>
    <hr>
    <p class="help-paragraph">2. If you are familiar with the whole login process with steemconnect, you could directly skip to Step 4. But don't worry
      if you aren't, we are here to help. After you have clicked on the button, you would be redirected to another web page,
      which looks similar when compared to the following.</p>
    <br>
    <img class="margin-auto" src="https://i.imgur.com/3Z4aFRo.png">
    <br>
    <hr>
    <p class="help-paragraph">The circled box should be displaying the logo of SwapSteem. (Oh yes, you would need to have a Steemit account beforehand!
      <a href="https://signup.steemit.com/" target="_blank">Register here! </a>
      The authorization permissions requested by SwapSteem would also be listed there as well, please make sure you have read all
      the terms and only proceed if you agree with the said authorization. </p>
    <p class="help-paragraph">Also, do note that your browser address bar should be utilizing steemconnect.com
      <a target="_blank" href="https://steemit.com/steemit/@steemitblog/steemconnect-2-0-easy-fast-efficient-access-to-the-steem-blockchain">learn more about v2.steemconnect here!</a>
      and the protocol of https
      <a target="_blank" href="https://en.wikipedia.org/wiki/HTTPS">learn more about https protocol here!</a>
      . It is crucial to double check because at SwapSteem, we truly value your account security since we are dealing with funds
      here. </p>
    <hr>

    <p class="help-paragraph">3. Once you have press 'continue', you would be redirected to one of the following web pages, depending on whether you've
      logged in your Steemit account on your browser. Once you have arrived at these pages, just either click on your account
      or enter your account details. Poof, and you are now logged in to our SwapSteem platform!</p>
    <br>
    <img class="margin-auto" src="https://i.imgur.com/7GYz0Dh.png">
    <br>
    <img class="margin-auto" src="https://i.imgur.com/BULPFf2.png">
    <br>
    <hr>
    <p class="help-paragraph"> 4. Welcome to the SwapSteem!
      <br> You could first notice that your uppermost right corner has a
      <strong>'logout'</strong> which indicates that you have successfully logged in. In order to proceed to initiate a trade, select
      the
      <strong>'Post a Trade'</strong> tab which is located at the top of the page.
    </p>
    <br>
    <img class="margin-auto" src="https://i.imgur.com/j75I2WP.png">
    <br>
    <hr>
    <br>
    <p class="help-paragraph">5. You will then greeted by the following page.</p>
    <br>
    <img class="margin-auto" src="https://i.imgur.com/Saz7Geo.png">
    <br>
    <p class="help-paragraph">Start by slowly filling all the required empty field. The details which you would be providing should be accurate and
      sufficient to initiate a trade.
      <br> There are a total of 7 fields which you have to fill if you want to create Buy lising and 13 fields while selling
      via a bank tansfer accordingly.
      <br>
      <br> For the
      <strong>'Ad Type'</strong> field,
      <br> - You should choose whether you would like to Buy or Sell STEEM or SBD. If you are selling STEEM/SBD you will be called
      the Seller henceforth, similarly if you want to buy STEEM/SBD for fiat, you will be called a Buyer henceforth.
      <br>
      <br> For the
      <strong>'Currency'</strong> field,
      <br>
      <p class="help-paragraph">- You could specify the fiat currency you are offering or accepting. Please be noted that the currency chosen should
        follow the standard currency acronym
        <a fref="https://en.wikipedia.org/wiki/ISO_4217#Active_codes" target="_blank">(Refer here for the list)</a>
      </p>
      <p class="help-paragraph">For the
        <strong>'Margin'</strong> field,</p>
      <strong>- **Currently, this selection is being disabled and is set as 0 by default. All trades would be done based on real
        time price API from
        <a href="https://www.cryptocompare.com/api/" target="_blank">cryptocompare</a>. However, in the future, margin option would be activated.**</strong>
      <br>
      <p class="help-paragraph">- You could select the margin you prefer. </p>
      <p class="help-paragraph">- For instance, 1% means that you would like to price your advertisement as 1% above the current STEEM or SBD price.
        Negative margin could be selected as well.
      </p>
      <p class="help-paragraph">- That is, if the price is 100 USD for either STEEM or SBD, margin of 1% means 101 USD as price.</p>
      <p class="help-paragraph">For the
        <strong>'Ad Coin Amount'</strong> field,
        <br> - You should exactly how much you are purchasing or selling in terms of STEEM or SBD.</p>
      <p class="help-paragraph">
        For the
        <strong>'Terms'</strong> field,
        <br> - You could describe or list down all your specific instructions for potential buyer who might initiate the trade
        with you. This section can be used to allow more clarifications which you required in order to proceed with the trade.
        <br>
        <br> - For instance, you could request the prospective buyer to submit proof of payment or verification documents. It
        is recommended and advised to check out other advertisements on the platform as well to get an idea what are some
        good terms of trade.
      </p>
      <br>
      <p class="help-paragraph">If your are selling STEEM/SBD via bank transfer, you will have to fill these additional fields as explained below :</p>
      <br>
      <p class="help-paragraph">For the
        <strong>'Account Holder Name'</strong> field,
        <br> - You will need to provide your NAME as registered with your bank account where the Buyer will deposit the fiat
        funds.
      </p>
      <br>
      <p class="help-paragraph">For the
        <strong>'Account Number'</strong> field,
        <br> - You will need to provide your BANK ACCOUNT NUMBER registered on your name where the Buyer will deposit the fiat
        funds.
      </p>
      <br>
      <p class="help-paragraph">For the
        <strong>'IFSC/ABA Code'</strong> field,
        <br> - You will need to provide your Bank's IFSC/ABA Code depending on the choosen currency.</p>
      <br>
      <p class="help-paragraph">For the
        <strong>'Bank Address'</strong> field,
        <br> - You will need to provide your Bank Address where the Buyer will deposit the fiat funds. This field is optional.</p>
      <br>
      <p class="help-paragraph">For the
        <strong>'SWIFT/BIC Code'</strong> field,
        <br> - You will need to provide your SWIFT/BIC Code if you have international transfers enabled with the bank where the
        Buyer will deposit the fiat funds. This field is optinal.</p>
      <br>
      <hr>
      <br>
      <p class="help-paragraph">6. After you have completed filling all the necessary details, you would then see a
        <strong>'Publish Advertisement'</strong> button located at the end of the page.</p>
      <br>
      <img class="margin-auto" src="https://i.imgur.com/7dfRA6e.png">
      <br>
      <p class="help-paragraph">Simply click the button, and Taaa daa! You have successfully posted a trade! Congratulations!</p>
      <br>
      <hr>
      <br>
      <p class="help-paragraph">7. To check or edit your posted advertisement trade, you could hover your mouse to the 'Profile' tab on the uppermost
        right corner of the page. You could then clearly see that all the listed advertisement made by you.</p>
      <!-- <br> -->
      <br>
      <img class="margin-auto" src="https://i.imgur.com/phVyoRx.png">
      <br>
      <p class="help-paragraph">Cogratulations! Your trade has already been posted. You will soon be getting orders from fellow users if they agree
        with your price and terms of trade. You can view your orders in the "Wallet" section in the top nav bar as shown
        in below screenshot.</p>
      <br>
      <img class="margin-auto" src="https://i.imgur.com/NLRIKvI.png">
      <br>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="help-paragraph">I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-accordion>