<div>
  <h6 class="buyHeading">Buy Steem Online In USA</h6>
  <div class="table-padding">
    <table class="table table-striped">
      <tr>
        <th class="">Seller</th>
        <th class="">Payment</th>
        <th class="">Coin</th>
        <th class="">Fiat</th>
        <th class="">Limits</th>
        <th class="">Price/Coin</th>
        <th></th>
      </tr>
      <tr *ngFor="let buySteem of buyDetails | async | tradePipe: 'ad_status' : 'pause'">
        <td *ngIf="showElement(buySteem)">{{buySteem.createdby}}</td>
        <td *ngIf="showElement(buySteem)">{{buySteem.payment_methods}}</td>
        <td *ngIf="showElement(buySteem)">{{buySteem.ad_coin}}</td>
        <td *ngIf="showElement(buySteem)">{{buySteem.currency}}</td>
        <td *ngIf="showElement(buySteem)">{{buySteem.limit_from}} - {{buySteem.limit_to}}</td>
        <td *ngIf="showElement(buySteem)">
          <span>{{calculatePrice(buySteem.ad_coin,buySteem.currency, buySteem.margin)}}</span>
        </td>
        <td *ngIf="showElement(buySteem)">
          <button type="button" class="btn btn-success btn-sm badge badge-pill" (click)="buyTrade(buySteem)">Buy</button>
        </td>
      </tr>
    </table>
  </div>
</div>