<div>
  <h6 class="buyHeading">Buy Steem Online In USA</h6>
  <div class="table-padding">
    <table class="table table-striped">
      <tr>
        <th class="">Seller</th>
        <th class="">Payment</th>
        <th class="">Coin</th>
        <th class="">Fiat</th>
        <th class="">Limits</th>
        <th class="">Price/Coin</th>
        <th></th>
      </tr>
      <tr *ngFor = "let buySteem of buyDetails | async">
        <td>{{buySteem.createdby}}</td>
        <td>{{buySteem.payment_methods}}</td>
        <td>{{buySteem.ad_coin}}</td>
        <td>{{buySteem.currency}}</td>
        <td>{{buySteem.limit_from}} - {{buySteem.limit_to}}</td>
        <td><span >{{calculatePrice(buySteem.ad_coin,buySteem.currency)}}</span></td>                                                                                                                                                                 
        <td><button type="button" class="btn btn-success btn-sm badge badge-pill" (click)="buyTrade(buySteem)">Buy</button></td>
      </tr>
    </table>
  </div>
</div>