
.table-padding{
    margin-left: 10px;
    margin-top: 10px;
}

.buyHeading{
    color: blue;
    padding-top: 10px;
}
.no-data{
    text-align: center;
    margin: 100px;
    font-weight: bold;
    font-size: 20px;
}