/* .sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.nav-link{
  color: #FFFFFF;
  padding: 5px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.spacer {
  flex: 1 1 auto;
}

.nav-right{
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.nav-left{
  margin-left: auto;
} */

.active{
  color: blue;
}