<div>
  <mat-toolbar color="primary">
    <div class="nav-right">
      <a routerLink="/home" routerLinkActive="active" class="nav-link">Swapsteem</a>
      <a routerLink="/buy-online" class="nav-link">Buy</a>
      <a routerLink="/sell-online" class="nav-link">Sell</a>
      <a routerLink="/post-trade" class="nav-link">Post a Trade </a>
      <a routerLink="/help" class="nav-link">Help</a>
    </div>
    <div class="nav-left">
      <a routerLink="/notifications" class="nav-link">Notifs</a>
      <a routerLink="/wallet" class="nav-link">Wallet</a>
      <a routerLink="/profile" class="nav-link">Profile</a>
      <a routerLink="/dashboard" class="nav-link">Dash</a>
    </div>
  </mat-toolbar>
</div>