.banner{
    width: 100%;
    min-height: 150px;
    background-color: grey;
}


.profile{
    position: absolute;
    height: 60px;
    width: 400px;
    margin-top: 3.9%;
    margin-left: 8%;
}


.box{
    border: 1px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px 0px;
    margin-top: 20px;
    background-color: white;
    overflow: scroll;
}

.table-header{
    font-weight: normal;
    font-size: 15px;
}
.no-data{
    text-align: center;
    margin: 100px;
    font-weight: bold;
    font-size: 20px;
}

.page-controls{
    text-align: center;
    margin-top: 50px;
}
@media (max-width: 900px) {
   
    .mat-header-cell{
      min-width: 110px;
      width: 110px;
      max-width: 100px;
      padding: 5px;
      text-align: center;
    }
    td{
        text-align: center;
        
    }
    .mat-chip.mat-standard-chip.mat-chip-selected {
        margin: auto;
    }
  }