.banner{
    width: 100%;
    min-height: 150px;
    background-color: grey;
}


.profile{
    position: absolute;
    height: 60px;
    width: 400px;
    margin-top: 3.9%;
    margin-left: 8%;
}


.box{
    border: 1px;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px #888888;
    margin-top: 20px;
    background-color: white;
}

.table-header{
    font-weight: normal;
    font-size: 15px;
}
.no-data{
    text-align: center;
    margin: 100px;
    font-weight: bold;
    font-size: 20px;
}

.page-controls{
    text-align: center;
    margin-top: 50px;
}