<div>
  <div class="banner">
    <div class="profile"></div>
    <div class="balance">
      <div class="">
        <span>126</span><span>12589</span><span>145</span>
      </div>
    </div>
  </div>
  <div class="container box">
    <div>
      <h5>Ayush Agrawal Open Trade</h5>
    </div>
    <table class="table">
      <tr>
        <th class="table-header">SELLER</th>
        <th class="table-header">PAYMENT METHODS</th>
         <th class="table-header">CURRENCY</th>
        <th class="table-header">PRICE</th>
        <th class="table-header">LIMITS(USD)</th>
        <th></th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="container box">
    <div>
      <h5>Ayush Agrawal Closed Trade</h5>
    </div>
    <table class="table">
      <tr>
        <th class="table-header">SELLER</th>
        <th class="table-header">PAYMENT METHODS</th>
         <th class="table-header">CURRENCY</th>
        <th class="table-header">PRICE</th>
        <th class="table-header">LIMITS(USD)</th>
        <th class="table-header"></th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>