<div>
  <div class="banner">
    <div class="profile row">
      <div class="col-sm-3">
      <img src="" alt="ProfileImg" height="15px" width="10px" class="rounded float-left">
      </div>
      <div class="sol-sm-9">
        <h6 style="color: white;">{{userData.name}}</h6>
        <p>Registered: {{userData.account.created | date}}</p>
      </div>
    </div>
  </div>
  <div class="container box">
    <div>
      <h5>Open Orders for You</h5>
    </div>
    <table class="table">
      <tr>
        <th class="table-header">FROM</th>
        <th class="table-header">COIN AMOUNT</th>
        <th class="table-header">RATE</th>
        <th class="table-header">FIAT AMOUNT</th>
        <th class="table-header">PAYMENT METHODS</th>
        <th></th>
      </tr>
      <tr *ngFor = "let openOrder of openOrders |async">
        <td>{{openOrder.createdby}}</td>
        <td>{{openOrder.order_coin_amount}}</td>
        <td>{{openOrder.order_rate}}</td>
        <td>{{openOrder.order_fiat_amount}}</td>
        <td>{{openOrder.order_payment_method}}</td>
      </tr>
    </table>
  </div>
  <div class="container box">
    <div>
      <h5>Orders Created By you</h5>
    </div>
    <table class="table">
      <tr>
        <th class="table-header">FROM</th>
        <th class="table-header">COIN AMOUNT</th>
        <th class="table-header">RATE</th>
        <th class="table-header">FIAT AMOUNT</th>
        <th class="table-header">PAYMENT METHODS</th>
      </tr>
      <tr *ngFor = "let closedOrder of closedOrders |async">
        <td>{{closedOrder.createdby}}</td>
        <td>{{closedOrder.order_coin_amount}}</td>
        <td>{{closedOrder.order_rate}}</td>
        <td>{{closedOrder.order_fiat_amount}}</td>
        <td>{{closedOrder.order_payment_method}}</td>
      </tr>
    </table>
  </div>
</div>