.banner{
    width: 100%;
    min-height: 150px;
    background-color: grey;
}


.box{
    border: 1px;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px #888888;
    margin-top: 20px;
    background-color: white;
}

.table-header{
    font-weight: normal;
    font-size: 15px;
}

.profile{
    position: absolute;
    height: 60px;
    width: 200px;
    margin-top: 3.9%;
    margin-left: 8%;
}