.banner{
    width: 100%;
    min-height: 200px;
    background-color: #343434;
    height: 100%;
}
.flex-center{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.height-200{
    height: 200px;
}
.balance{
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
}

.box{
    border: 1px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px 0px;;
    margin-top: 20px;
    background-color: white;
}

.table-header{
    font-weight: bold;
    font-size: 15px;
}

.profile{
    position: absolute;
    height: 60px;
    width: 450px;
    margin-top: 3.9%;
    margin-left: 8%;
}

.small-text{
    font-size: 9px;
}
.small-heading{
    font-size: 15px;
    font-weight: bold;
}
.no-data{
    text-align: center;
    margin: 100px;
    font-weight: bold;
    font-size: 20px;
}
.page-controls{
    text-align: center;
    margin-top: 50px;
}

table {
    width: 100%;
}
td, th {
    width: 25%;
}
.mat-header-cell, .mat-cell {
    flex: 0 0 25% !important;
    min-width: 104px !important;
    text-align: center;
}
.profile-image{
    height: 120px;
    object-fit: cover;
    width: 120px;
    border-radius: 50%!important;
}
.profile-name{
    margin-left: 20px;
 
}
.medium{
    color: grey!important;
}
.edit-profile{
    background-image: linear-gradient(-90deg, #007bff, #3f51b5);
    border: navajowhite;
    color: wheat;
    padding: 5px 20px;
    border-radius: 5px;
}
.balance-title-css{
    border-top: 1px solid #dee2e6;
    padding-top: 10px;
}
.home-page-wrapper{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px 0px;
    margin: 80px;
    /* width: calc(100% - 160px); */
    border-radius: 10px;
    /* max-width: 1800PX; */
    margin: auto;
    margin-top: 50px;
}