<div>
  <div class="banner">
    <div class="profile"></div>
  </div>
  <div class="container ">
    <div class="row">
      <div class="card col box mr-2 text-center">
        <div>
          4.7/5
        </div>
        <div>
          Average Feedback Score
        </div>
      </div>
      <div class="card col box mr-2 text-center">
        <div>
          6
        </div>
        <div>
          Open Ads
        </div>
      </div>
      <div class="card col box mr-2 text-center">
        <div>
          13  195
        </div>
        <div>
          FeedBacks
        </div>
      </div>
    </div>
    <div class="box">
      <h5>Ayush Open AD'S</h5>
      <table class="table">
        <tr>
          <th class="table-header">Payment Methods</th>
          <th class="table-header">Sell Or Buy</th>
          <th class="table-header">Currency</th>
          <th class="table-header">Price</th>
          <th class="table-header">Limits(USD)</th>
          <th class="table-header"></th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>