<div>
  <div class="banner">
    <div class="profile row">
      <div class="col-sm-3">
      <img src="{{profile_url}}" alt="ProfileImg" height="50px" width="50px" class="rounded float-left">
      </div>
      <div class="sol-sm-9">
        <h6 style="color: white;">{{userData.name}}</h6>
        <p>Registered: {{userData.account.created | date}}</p>
      </div>
    </div>
    <div class="balance">
      <div class="row">
          <div class="col text-center">{{balance_steem}}<p class="text-muted small-text">STEEM</p></div>
          <div class="col text-center">{{balance_sbd}}<p class="text-muted small-text">SBD</p></div>
      </div>
    
      <div class="text-center small-heading">Balances</div>
    </div>
  </div>
  <div class="container ">
    <div class="row">
      <div class="card col box mr-2 text-center">
        <div>
          {{userData.account.reputation}}/5
        </div>
        <div>
          Reputation Score
        </div>
      </div>
      <div class="card col box mr-2 text-center">
        <div>
          {{noOfAds}}
        </div>
        <div>
          Open Ads
        </div>
      </div>
    </div>
    <div class="box">
      <h5>Your Open ADs</h5>
      <table class="table">
        <tr>
          <th class="table-header">Payment Methods</th>
          <th class="table-header">Sell Or Buy</th>
          <th class="table-header">Currency</th>
          <th class="table-header">Price</th>
          <th class="table-header">Limits(USD)</th>
          <th class="table-header"></th>
        </tr>
        <tr *ngFor = "let ad of openAds |async">
          <td>{{ad.payment_methods}}</td>
          <td>{{ad.ad_type}}</td>
          <td>{{ad.currency}}</td>
          <td>{{ad.ad_coin_amount}}</td>
          <td>{{ad.limit_from}}</td>
          <td><button class="btn btn-info ">View/ Edit</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>