.banner{
    width: 100%;
    min-height: 150px;
    background-color: grey;
}

.balance{
    background-color: white;
    position: absolute;
    height: 80px;
    width: 250px;
    margin-top: 3%;
    margin-left: 72%;
}

.box{
    border: 1px;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px #888888;
    margin-top: 20px;
    background-color: white;
}

.table-header{
    font-weight: bold;
    font-size: 15px;
}

.profile{
    position: absolute;
    height: 60px;
    width: 450px;
    margin-top: 3.9%;
    margin-left: 8%;
}

.small-text{
    font-size: 9px;
}
.small-heading{
    font-size: 15px;
    font-weight: bold;
}
.no-data{
    text-align: center;
    margin: 100px;
    font-weight: bold;
    font-size: 20px;
}
.page-controls{
    text-align: center;
    margin-top: 50px;
}

table {
    width: 100%;
}
td, th {
    width: 25%;
}
.mat-header-cell, .mat-cell {
    flex: 0 0 25% !important;
    min-width: 104px !important;
    text-align: center;
}