<div class="d-flex justify-content-between">
  <h2 mat-dialog-title>&nbsp;</h2>
  <button mat-icon-button mat-dialog-close class="close">
    <mat-icon>close</mat-icon>
  </button>
</div>
<form (ngSubmit)="form.valid ? onSignup(form) : ''" novalidate #form="ngForm">
  <mat-dialog-content>
    <div class="heading">
      <h2 mat-dialog-title>Create a New Steem Account</h2>
      <strong class="referance">
        <small>Powered by <a data-v-fd919dfc="" href="https://account.steem.ninja/steem_account?ref=steempeak" target="_blank">Steem.Ninja</a>
          and <a data-v-fd919dfc="" href="https://oracle-d.com" target="_blank">Oracle-D</a></small>
      </strong>
    </div>
    <!-- <div class="add-icon">
      <mat-icon>person_add</mat-icon>
    </div> -->
    <div class="price"><span class="display-block text-size-small">Current Price: <span class="text-semibold">$2.50</span>
        USD / Account</span> <span class="display-block text-size-small">BONUS: New accounts will also receive a 15sp
        delegation for 90 days. (Aka a voting power boost)</span></div>
    <div class="username">
      <mat-form-field class="username-input-field">
        <mat-icon matPrefix>person</mat-icon>
        <input matInput #username name="username" placeholder="Username" [(ngModel)]="userData.username" required />
      </mat-form-field>
    </div>
    <div class="submit">
      <button class="submit-button" color="primary" mat-raised-button type="submit">Continue <mat-icon class="submit-icon" color="light">arrow_forward</mat-icon></button>
    </div>
  </mat-dialog-content>
</form>