/* You can add global styles to this file, and also import other style files */
@import '~ngx-bar-rating/themes/br-default-theme';

html, body { height: 100%; }
body{
    font-family: 'Muli', sans-serif !important;
}

app-referral {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 225px);
}