.scroll{
    position: relative;
    /* height: 300px; */
    overflow: auto;
}

.box{
    border: 1px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px 0px;
    margin-top: 20px;
    background-color: white;
}
.home-page-wrapper{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px 0px;;
    margin: 80px;
    /* width: calc(100% - 160px); */
    border-radius: 10px;
    /* max-width: 1800PX; */
    margin: auto;
    margin-top: 50px;
}