<div class="box container">
    <div *ngIf="notifications.length === 0" class="no-data"><p>No Data! Go play Around to see something here</p>
      <!-- <a style="padding-right: 18px;" routerLink="/post-trade">Post a trade</a> -->
    </div>
  <table class="table" *ngIf="notifications.length">
      <tr *ngFor = "let notification of notifications">
        <td scope="row">
          <p>
          <span style="font-weight: bold">{{notification.text}} from </span> {{notification.from}} <br>
          <span class="text-muted">{{notification.timestamp | amTimeAgo}}</span>
          </p>
        </td>
      </tr>
  </table>
</div>