<div class="container banner-css">

    <h1>Trade STEEM and SBD Online for FIAT and CRYPTO</h1>
    <h4 style="color : orange">Instant. Secure. Private.</h4>
    <div class="mx-auto btn btn-success steem-sbd-price">STEEM : {{price.steem.usd}} USD</div>
    <br>
    <div class="mx-auto btn btn-success steem-sbd-price">SBD : {{price["steem-dollars"].usd}} USD</div>
    <br>
    <div class="mx-auto btn btn-success steem-sbd-price" routerLink="/post-trade">
      Create a Custom Trade Listing
    </div>
    <br>
    <div class="mx-auto btn btn-success steem-sbd-price" routerLink="/market/fiat">
      P2P Market
    </div>
    <br>
    <div class="mx-auto btn btn-success steem-sbd-price">
      SE Token Swap Coming Soon!
    </div>
  </div>
